html
  head
    title Coffe
    block scripts
    block style
  body
   nav#navbar
     h1 Kusina 
     <button id="nav_symbol" onclick="Open_nav()">&#x2630;</button>
     ul#lists      
         li #[a(href="/home") Home]
         li #[a(href="/menu") Menu]
         li #[a(href="/contact") Contact us]
  block content
    block foot
  #footer
     div.left
         h1 Kusina
         p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
         p Contact Us: &#9742; +917832927372
         p GmailId : KusinaCoffe@yahho.com
     div.right
         h1 Hours
         p Monday 9:00am -8:000pm
         
         p Tuesday 9:00am -8:000pm
         
         p Wednessday 9:00am -8:000pm
         
         p Thursday 9:00am -8:000pm
        
         p Friday 10:00am -7:000pm
         
         p Saturday Closed
         p Saturday Closed
     
     span Copyright |  Kusina Coffe-shop © 2020-2025