extends base.pug

block scripts
  script(src='/static/jquery.js')
block style
 style
   include ../static/home.css
   include ../static/contact.css
block content
  section#intro
  section#contact
     div.img
         img(src="/static/chef-2.jpg", alt="")
     div.contact_form
         h1 Book a Table
         h2 Make A Reservation
         form(action="/contact" ,method="post")
               div.fill_form 
                 input(type="text", placeholder="Enter your Name")
               div.fill_form
                 input(type="email", placeholder="Enter your Email")
               div.fill_form
                 input(type="adress", placeholder="Enter your Adress")
               div.fill_form
                 input(type="number", placeholder="Enter your Number")
               div.fill_form
                 input(type="date", placeholder="Date")
               div.fill_form
                 input(type="number", placeholder="Persons")
               <button class="btn">Make A Reservation</button>