extends base.pug

block scripts
  script(src='/static/jquery.js')
block style
 style
   include ../static/home.css
   include ../static/menu.css
block content
 section#nav
 section#menu
     h1 Our Specialities
     h2 Our Menu
     div.brunch
         h3 Breakfast
         div.food
            img(src="/static/dinner-1.jpg", alt="")
            h3 Grilled beef with potatoes
            p Meat,potatoes,Ricespan 
            span $29
         div.food
            img(src="/static/dinner-2.jpg", alt="")
            h3 Grilled Crab with Onion
            p Meat,potatoes,Rice,nion
            p $50
         div.food
            img(src="/static/dinner-3.jpg", alt="")
            h3 Manchurian
            p Meat,potatoes,Ricespan 
            p $100
     div.brunch
         h3 Lunch
         div.food
            img(src="/static/dinner-4.jpg", alt="")
            h3 Honey Chilli potaoes
            p Meat,potatoes,Ricespan
            p $67
         div.food
            img(src="/static/dinner-5.jpg", alt="")
            h3 Freid rice
            p Meat,potatoes,Rice
            p $89
         div.food
            img(src="/static/dessert-5.jpg", alt="")
            h3 Italian Sweet
            p Meat,potatoes,Ricespan 
            span $49
     div.brunch
         h3 Dinner
         div.food
            img(src="/static/breakfast-6.jpg", alt="")
            h3 Thai Food
            p Meat,potatoes,Ricespan 
            span $29
         div.food
            img(src="/static/breakfast-7.jpg", alt="")
            h3  Chiken Grill
            p Meat,potatoes,Rice,nion
            p $50
         div.food
            img(src="/static/breakfast-8.jpg", alt="")
            h3  Fish Fry
            p Meat,potatoes,Ricespan 
            p $100
     div.brunch
         h3 Dessert
         div.food
            img(src="/static/dessert-1.jpg", alt="")
            h3 Ice cream
            p Meat,potatoes,Ricespan 
            span $29
         div.food
            img(src="/static/dessert-2.jpg", alt="")
            h3 Cup cakes
            p Meat,potatoes,Rice,nion
            p $50
         div.food
            img(src="/static/dessert-2.jpg", alt="")
            h3 Chocolate cake
            p Meat,potatoes,Ricespan 
            p $100
     div.brunch
         h3 Snacks
         div.food
            img(src="/static/dinner-5.jpg", alt="")
            h3 Ice cream
            p Meat,potatoes,Ricespan 
            span $29
         div.food
            img(src="/static/dessert-2.jpg", alt="")
            h3 Cup cakes
            p Meat,potatoes,Rice,nion
            p $50
         div.food
            img(src="/static/breakfast-9.jpg", alt="")
            h3 Chocolate cake
            p Meat,potatoes,Ricespan 
            p $100
     div.brunch
         h3 Specialities
         div.food
            img(src="/static/bg_1.jpg", alt="")
            h3 Ice cream
            p Meat,potatoes,Ricespan 
            span $29
         div.food
            img(src="/static/bg_2.jpg", alt="")
            h3 Cup cakes
            p Meat,potatoes,Rice,nion
            p $50
         div.food
            img(src="/static/insta-2.jpg", alt="")
            h3 Chocolate cake
            p Meat,potatoes,Ricespan 
            p $100